
  <div class="card " style="width: 18rem; margin: auto">
  <a href="/" class='btn btn-primary '>Take me home</a>
    <img class="card-img-top rounded mx-auto d-block" src="https://robohash.org/{{username}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{username}}</h5>
      <p class="card-text">You have been greeter</p>
      <h4 >{{greetedUser}} times</h4>
      <a href="/greeted" class="btn btn-primary">Back to greeted users</a>
      
    </div>
  </div>
