<div class="row">
    
    <a href="/" class='btn btn btn-primary text-center'>Take me home</a>
    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Language</th>
      <th scope="col">Greeted times</th>
      <th scope="col">counter links</th>
    </tr>
  </thead>
  <tbody>
      {{#each database}}
    <tr>
      <td>{{users_greeted}}</td>
      <td>{{user_language}}</td>
      <td>{{counter}}</td>
      <td><a href="/counter/{{users_greeted}}" class="btn btn-light ">link</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>