<div class="row">
    <h2 color='text-secondary text-center'>Greeted users</h2>
    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Language</th>
    </tr>
  </thead>
  <tbody>
      {{#each database}}
    <tr>
      <th scope="row">{{id}}</th>
      <td>{{users_greeted}}</td>
      <td>{{user_language}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>